.landing-page-main{
    height: 70vh;
    background-image: url(../background.jfif);
    
    background-repeat: no-repeat;
    background-size: cover;
   
}

.landing-heading{
    text-align: center;
    padding-top: 140px;
    font-family:  'Montserrat Alternates', Helvetica, Arial, sans-serif;
    color: whitesmoke;
}
.landing-heading h1,h2 {
    font-weight: 900;
}

.landing-btn{
    border: none;
    background-color: grey;
    color: white;
    outline: none;
    cursor: pointer;
    margin-top: 5rem;
    font-size: large;
    padding: 1rem 1.5rem 1rem 1.5rem ;
    transition-property: width background;
    transition-duration: 0.8s;
    
}

.landing-btn:hover{
    background-color: #60432d;
    border-radius: 15px;
    
}