.search{
    width:100%;
    border: none;
    padding:10px 15px;
    outline: none;
    justify-content: center;
    background-color: #f0f0f0;
    font-family:  'Montserrat Alternates', Helvetica, Arial, sans-serif;

    border-radius: 5px;
}

.search-img{

    
    width: 25px;
    height: 25px;
    bottom: 0;
    padding-top: 5px;
    padding-left:5px;
}
.search-main{
    background-color: #f0f0f0;
    width: 455px;
    max-width: 85%;
   margin:auto;
   border-radius: 5px;
   display: flex;
   
}